.App {
  background-color: teal;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}

.App-header {

  min-height: 15vh;
  padding: 5vh; 
  font-size: calc(10px + 2vmin);
  color: white;
}

.Fun-window {
  background-color: rgb(57, 93, 128);
  box-shadow: black 10px 10px 10px;
  min-height: 15vh;
  margin: calc(5px + 1vmin);
  padding: 5vh; 
}

.Interesting-window {
  min-height: 15vh;
  padding: 5vh; 
}

.Creepy-window {
  background-color: rgb(25, 28, 31);
  box-shadow: black 10px 10px 10px;
  min-height: 15vh;
  margin-left: calc(5px + 1vmin);
  margin-right: calc(5px + 1vmin);
  padding: 5vh; 
}

.Fact-button {
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(41, 41, 129);
  box-shadow: black 10px 10px 10px;
  color: white;
  border: none;
  border-radius: 12px;
  margin-bottom: 5vh;
  padding: 15px 32px;
  font-size: calc(10px + 2vmin);
  cursor: pointer;
}

.Fact-button:hover {
  background-color: darkblue;
} 

.Fact-text {
  font-family: 'Courier New', Courier, monospace;
  font-size: calc(10px + 2vmin);
}
